<% provide(:title, 'About') %>
<html>
  <head>
    <title> Blog App | <%= yield(:title) %></title>
  </head>

  <body>
    <h1>Blog App</h1>
    <p>This is the home page for the Blog App </p>
  </body>
</html>